.main{
    text-align: center;
}

ul li {
    display: inline;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    border: 5px solid green;
}

.about{
    /* text-align: center; */
    width: 900px;
    border: 3px solid gold;
    margin: auto;
    padding: 2em;
}

